body, div, header, nav, ul, li, img, article, a, p, h1, h2 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

*, *:before, *:after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
	content: "";
	display: block;
	clear: both;
}

body {
	font-family: helvetica, arial, sans-serif;
}

.container {
	width: 80%;
	margin: 0 auto;
	position: relative;
}

nav ul {
	list-style: none;
}

nav ul li {
	width: 25%;
	display: inline-block;
	float: left;
	text-align: center;
	padding: 10px;
	font-size: 18px;
	text-transform: uppercase;
}

nav ul li a {
	text-decoration: none;
	color: rgb(98, 129, 165);
}

header {
	background-color: rgb(168, 208, 255);
	overflow: hidden;
}

header img {
	display: block;
	width: 250px;
	margin: 20px auto;
	background-color: #ffffff;
	padding: 10px;
	border-radius: 5px;
}

#hero {
	height: 200px;
	background-image: url(../img/img/sky.jpg);
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
}

main {
	background-color: #EAEAEA; 
}

main img {
	width: 20%;
	border-radius: 50%;
	position: absolute;
	left: 15%;
	padding: 10px;
	border: 1px solid #cccccc;
	background-color: #dddddd;
	transition: left 350ms ease-in-out;
}

main img:hover {
	left: 0%;
}

article {
	width: 80%;
	float: right;
	background-color: #ffffff;
	padding: 0 40px 60px;
	margin-bottom: 40px; 
	position: relative;
} 

article:before {
	content: "";
	display: block;
	height: 75px;
	background-color: #ffffff;
	width: 100%;
	position: absolute;
	left: 0;
	top: -75px;
	background-image: url(../img/img/mail.png);
	background-repeat: repeat-x;
}

article h1 {
	font-size: 28px;
	margin-bottom: 10px;
}

article p {
	font-size: 14px;
	line-height: 1.4;
	margin: 10px 0;
}

article h2 {
	font-size: 20px;
	text-align: right;
	font-family: cursive;
}

footer  {
	background-color: rgb(50, 50, 50);
	color: #888888;
	font-size: 12px;
	padding: 30px 0;
}

@media (max-width: 400px) {
	nav ul li {
		width: 100%;
		display: block;
	}
	article {
		width: 98%;
		display: block;
	}
}


@media (min-width: 768px) and (max-width: 900px) {
	header {
	background-color: red; }
}

